.resume {
  font-family: "Poppins", sans-serif;
}

.resume a {
  color: #0000ff;
}

.resume li {
  margin-left: 1em;
  text-align: justify;
  list-style-type: circle;
}

.resume h2 {
  text-align: center;
}

.resume references {
  text-align: center;
}

.resume h1 {
  color: #2978b5;
  text-align: center;
}

@media (max-width: 600px) {
  .resume {
    margin: 1em auto;
    padding: 1em;
    max-width: 100%; /* Adjust width for better scaling */
  }
}
