.about {
  flex-direction: column;
  margin-top: 3em;
}

.about__name {
  color: var(--clr-primary);
}

.about__role {
  margin-top: 1.2em;
}

.about__desc {
  font-size: 1rem;
  max-width: 600px;
}

.about__desc,
.about__contact {
  background: transparent;
  margin-top: 2.4em;
}

.about .link--icon {
  margin-right: 0.8em;
}

.about .button-6 {
  margin-right: 1em;
}

.about h1,
.about h2,
.about p {
  background: transparent;
}
.about h2 {
  text-align: center;
}

.about p {
  text-align: justify;
}
.link.link--icon {
  margin-top: 0.5rem;
  margin-right: 0;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .app .about {
    margin-top: 2em;
  }
  .MuiBackdrop-root
    MuiModal-backdrop
    css-4nmryk-MuiBackdrop-root-MuiModal-backdrop {
    max-width: 100px;
  }
  .MuiBox-root {
    max-width: 90%;
    max-height: 90%;
  }
  .about.center {
    text-align: center;
  }
  .about p {
    padding: 1rem;
  }
}
