@media screen and (min-width: 769px) {
  .aboutme {
    color: #ffffff;
    text-align: center;
    font-family: "Fira";
    position: fixed;
    top: 35vh; /* Using vh (viewport height) for consistent vertical positioning */
    left: 30vw; /* Adjusted to 10vw for more flexible placement */
    max-width: 80vw; /* Ensures it adapts within different screen widths */
  }

  .aboutme h1 {
    margin-top: 40px;
    font-size: 58pt;
  }

  .aboutme h2 {
    color: #ffffff;
    text-align: center;
    font-size: 30pt;
    margin-top: -10px;
  }

  .aboutme p {
    color: #ffffff;
    text-align: center;
    font-size: 24pt;
    margin-top: -5px;
  }
  .builtby {
    color: white;
    position: relative;
    top: 47vw;
    left: 84vw;
    max-width: 300px;
  }
}
