@import "./static/styles/desktop/aboutme/Welcome.css";
@import "./static/styles/desktop/projects/Projects.css";
@import "./static/styles/desktop/navbar/NavBar.css";
@import "./static/styles/desktop/landingpage/LandingPage.css";
@import "./static/styles/mobile/landingpage/LandingPage.css";
@import "./static/styles/mobile/aboutme/AboutMe.css";
@import "./static/styles/mobile/navbar/NavBar.css";
@import "./static/styles/mobile/projects/Projects.css";

@font-face {
  font-family: "Fira";
  src: url("/public/static/fira.ttf");
}

body {
  overflow: auto;
  background-image: url("/public/static/background.png");
  background-color: black;
}
