@import "./static/styles/aboutme/Welcome.css";
@import "./static/styles/projects/Projects.css";
@import "./static/styles/navbar/NavBar.css";
@import "./static/styles/landingpage/LandingPage.css";
@import "bootstrap/dist/css/bootstrap.min.css";

@font-face {
  font-family: "Fira";
  src: url("/public/static/fira.ttf");
}

body {
  background-image: url("/public/static/background.png");
  background-color: #2196f3;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
