@media screen and (max-width: 768px) {
  body.landingpage-body {
    overflow: hidden;
  }
  .aboutme {
    color: #ffffff;
    text-align: center;
    font-family: "Fira";
    margin-top: 10rem;
  }

  .aboutme h1 {
    margin-top: 40px;
    font-size: 44pt;
  }

  .aboutme h2 {
    color: #ffffff;
    text-align: center;
    font-size: 22pt;
    margin-top: -10px;
  }

  .aboutme p {
    color: #ffffff;
    text-align: center;
    font-size: 14pt;
    margin-top: -5px;
  }
  .builtby {
    position: relative;
    top: 5.5rem;
    left: 5rem;
  }
}
